@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1, h2, h3, h4, h5 {
  font-family: "Rubik";
}

.navbar {
	width: 100vw;
	bottom: 0;
	top: initial;
}

.nav-shadow {
	display: none;
}

@screen 2xl {
	.nav-shadow {
		display: block;
	}
  .navbar {
    width: 100vh;
    bottom: initial;
    transform: rotate(90deg) translateY(-100%);
  }
}

.gradient {
  background-image: linear-gradient(to bottom, #371D84, #12033E);
  opacity: .96;
}

.pattern {
  background-color: #E5E5F7;
  opacity: 0.4;
  background: linear-gradient(135deg, #444CF755 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, #444CF7 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg, #444CF755 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, #444CF7 25%, #E5E5F7 25%) 0px 0/ 40px 40px;
}

p {
  @apply 2xl:text-2xl md:text-xl text-lg leading-relaxed w-11/12 font-light mt-4 font-mono;
}
